<odoo>

    <!-- Root Menu -->
    <menuitem id="menu_university_root"
              name="University Management"/>

    <!-- Management Menu -->
    <menuitem id="menu_university_management"
              name="Management"
              parent="menu_university_root"/>

    <!-- Department Action -->
    <record id="action_university_department" model="ir.actions.act_window">
        <field name="name">Departments</field>
        <field name="res_model">university.department</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- Student Action -->
    <record id="action_university_student" model="ir.actions.act_window">
        <field name="name">Students</field>
        <field name="res_model">student.university</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- Departments Menu -->
    <menuitem id="menu_university_departments"
              name="Departments"
              parent="menu_university_management"
              action="action_university_department"/>

    <!-- Students Menu -->
    <menuitem id="menu_university_students"
              name="Students"
              parent="menu_university_management"
              action="action_university_student"/>

    <record id="menu_universities" model="website.menu">
        <field name="name">Universities</field>
        <field name="url">/universities</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence" eval="30"/>
    </record>

</odoo>