<odoo>
    <menuitem id="menu_university_root" name="University"/>

    <menuitem id="menu_university_management"
              name="Management"
              parent="menu_university_root"/>


    <menuitem id="menu_university_root"
          name="University"
          sequence="10"
          action="action_university_department"/>


    <menuitem id="menu_university_departments"
              name="Departments"
              parent="menu_university_management"
              action="action_university_department"/>

    <menuitem id="menu_university_students"
              name="Students"
              parent="menu_university_management"
              action="action_university_student"/>
</odoo>
